@import '/src/variables.scss';

.wrapper {
	text-align: center;

	@media (min-width: $desktop-width-transform) {
		width: 24%;
		margin-top: 3.3em;
	}

	.rating {
		font-size: 2em;

		@media (min-width: $desktop-width-transform) {
			font-size: 2.2em;
			transform: translateX(-.5em);
		}

		i {
			color: $color-orangeish;
		}

		span {
			margin-left: .5em;
			// line-height: 2em;
			font-weight: bold;
		}
	}

	.ratingsCounter {
		margin-top: .3em;
		font-size: 1.2em;

		@media (min-width: $desktop-width-transform) {
			margin-top: .4em;
			font-size: 1.3em;
			transform: translateX(-.5em);
		}
	}

	button {
		margin: 1.3em 0;
		width: 100%;
		height: 4em;
		border: 2px solid $color-blueish;
		border-radius: 90px;
		background-color: white;
		outline: none;
		font-size: 1.3em;
		font-family: 'Noto Sans';
		font-weight: bold;
		color: $color-blueish;

		@media (min-width: $desktop-width-transform) {
			width: 95%;
			margin: 1.7em 0 1.2em;
		}
	}

	.mark {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: $desktop-width-transform) {
			margin-bottom: .2em;
		}

		span {
			font-size: 1.2em;

			@media (min-width: $desktop-width-transform) {
				font-size: 1.3em;
			}
		}

		i {
			color: $color-orangeish;

			@media (min-width: $desktop-width-transform) {
				margin: 0 .5em;
			}
		}

		.progressBar {
			width: 80%;
			height: .7em;
			background-color: $color-grayish;
			border-radius: 90px;

			@media (min-width: $desktop-width-transform) {
				width: 73%;
			}

			div {
				height: 100%;
				background-color: $color-blueish;
				border-radius: 90px;
			}
		}

		span:last-of-type {
			width: 2em;
			text-align: right;

			@media (min-width: $desktop-width-transform) {
				width: 2em;
				font-size: 1.2em;
				margin-right: 1em;
			}
		}
	}

	.info {
		margin-top: 1em;
		font-size: 1.2em;
		text-align: left;

		@media (min-width: $desktop-width-transform) {
			margin-top: 1.6em;
			font-size: 1.3em;
		}
	}
}