@import '/src/variables.scss';

.wrapper {
	padding: 2em 0;
	border-bottom: 1px solid $color-grayish;

	.rating {
		font-size: 1.2em;

		i {
			color: $color-orangeish;
		}

		span {
			margin-left: .5em;
			font-weight: bold;
		}
	}

	.text {
		margin: .8em 0;
	}

	.info {
		.author {
			color: $color-blackish;
		}

		.vote {
			margin-top: 1.5em;
			text-align: right;

			span {
				margin-left: .5em;

				&:first-of-type {
					color: $color-blueish;
				}
			}
		}
	}
}