@import '/src/variables.scss';

.wrapper {
	padding: 0 1.9em;
	background-color: white;

	@media (min-width: $desktop-width-transform) {
		position: relative;
		max-width: $desktop-wrapper-width;
		margin: auto;
		padding: 0;
		padding-bottom: 9.2em;
		transform: translateX(-1.6%);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -50%;
			width: 200%;
			height: 100%;
			background-color: white;
			z-index: -1;
		}
	}

	.banner {
		padding: 2.6em 0 2em;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $color-grayish;

		h1 {
			max-width: 90%;
			font-size: 1.6em;
			font-weight: normal;
		}

		span {
			font-size: 1.6em;
		}
	}

	.header {
		position: relative;
		padding-bottom: .75em;
		border-bottom: 1px solid $color-grayish;
		font-size: 2.5em;
		font-weight: normal;
		text-align: center;
		transform: translate(.5em, -.3em);

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 8.5em;
			height: 1px;
			background-color: orange;
		}
	}

	.content {
		padding: 1.5em 1em;
		border-bottom: 1px solid $color-grayish;

		@media (min-width: $desktop-width-transform) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: .6em;
			padding: 0;
			padding-top: 2em;
			border: 0;
		}

		.comments {
			margin-top: 3em;
			border-top: 1px solid black;

			@media (min-width: $desktop-width-transform) {
				margin: 0;
				border: 0;
				width: 68.5%;
			}
		}
	}
}