@import '/src/variables.scss';

.wrapper {
	position: relative;
	max-width: $desktop-wrapper-width;
	// margin: auto;
	margin: 3em auto 0;
	padding-top: 1.7em;
	padding-bottom: 9.7em;
	background-color: white;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -50%;
		width: 200%;
		height: 100%;
		background-color: white;
		z-index: -1;
	}
}