@import '/src/variables.scss';

.wrapper {
	height: 1000vh; // temp
	overflow-x: hidden;

	.productArea {
		max-width: $desktop-wrapper-width;
		margin: auto;

		@media (min-width: $desktop-width-transform) {
			display: grid;
			grid-template-areas: 
				'gallery buyform'
				'versions versions';
		}
	}
}