@import '/src/variables.scss';

.wrapper {
	min-height: 1000vh; // temp
	overflow-x: hidden;

	.productArea {
		@media (min-width: $desktop-width-transform) {
			max-width: $desktop-wrapper-width;
			margin: auto;
			display: grid;
			grid-template-areas: 
				'gallery buyform'
				'versions versions';
		}
	}
}