@import '/src/variables.scss';

.wrapper {
	height: 200vh; // temp
	margin: $mobile-page-margins;

	@media (min-width: $desktop-width-transform) {
		max-width: $desktop-wrapper-width;
		margin: $desktop-page-margins;
	}

	.buySection {
		display: flex;
		justify-content: space-between;
	}
}