@import '/src/variables.scss';


.wrapper {
	width: 100%;
	background-color: $color-whiteish;
	// color: $color-grayish;
	display: flex;
	padding: 1.1em 0;
	font-size: 1.2rem;
	font-family: 'Noto Sans';

	.backwards {
		margin-right: 1.1em;
		padding-right: 1.4em;
		border-right: 1px solid black;

		.icon {
			margin-right: 1.3em;
		}
	}

	.location {
		.category {
			margin-left: .7em;
			margin-right: .4em;
			text-decoration: underline;
		}

		.icon {
			margin-right: .7em;
		}
	}
}