@import '/src/variables.scss';

// Fonts loading
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Reset margins and paddings
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: .625rem;

	body {
		box-sizing: border-box;
		background-color: $color-whiteish;
		font-family: 'Noto Sans';
	
		i {
			font-family: 'fontello';
			font-size: 1em;
			font-style: normal;
			text-decoration: none;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button,
		input[type=number] {
			-webkit-appearance: none;
			-moz-appearance: textfield;
			margin: 0;
		}
	}
}
