
// Fonts loading
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Reset margins and paddings
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: .625rem;
}

body {
	box-sizing: border-box;
}
